<h1>About</h1>
<%= image_tag("about.jpg", class: "img-responsive") %>
<p>Melissa Dawn Designs are handcrafted silver and bronze jewelry inspired by literature, video games, and pop culture. Each piece of jewelry is made to order and comes ready to gift with a quote card, and a bow-tied box. </p>
