<h1>Thank you!</h1>
<div class="col-offset-3 centered">
	<p>Thank you for reaching out! I'll get back to you as soon as possible.<br>
		-Lyssa
	</p>
</div>
<%= link_to("Back", static_pages_contact_path) %>
