HEAD
$translucent: rgba(255, 255, 255, 0.7);

input, textarea {
	color: #333
}

.prod_container, .featured {
	background-color: $translucent;
	color: #333;
	padding-bottom: 20px;
}

.prod_container .img-repsonsive {
	max-height: 260px;
}

.edit_product input, .edit_product textarea {
	width: 90%;
}

.edit_product {
	background-color: $translucent;
	color: #333;
	padding-bottom: 20px;
	padding-top: 10px;
}

.prod_overlay {
	position: relative;
	bottom: 150px;
	background-color: $translucent;
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
origin/comments
}