input, textarea {
	color: #333
}

.prod_container {
	width: 80%;
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

.prod_container .img-repsonsive {
	width: 80%;
}