input, textarea {
	color: #333
}

.prod_container, .featured {
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	padding-bottom: 20px;
}

.prod_container .img-repsonsive {
	width: 80%;
}

.edit_product input, .edit_product textarea {
	width: 90%;
}

.edit_product {
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	padding-bottom: 20px;
	padding-top: 10px;
}