$important-font: "Mirza", cursive;
$color: #fff;

body {
	font-family: "Dosis", sans-serif;
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 2em;
	overflow: auto;
	background-image: url("geobackground.jpg");
	background-attachment: fixed;
	background-size: cover;
	color: $color;
}

h1{
	font-family: $important-font;
	font-size: 2.5em;
}

a {
	color: #7C83AF;
}

img{
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0 20px 0;
}


nav {
	li{
		text-transform: uppercase;
	}
}


/*Contact Page*/

.social-btn img{
	height: auto;
	width: 40px;
	margin: 0 1em;
}

.contact-form {
	padding-bottom: 30px;
}

/*Sticky footer*/


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #080808;
	color: white;
}

.img-responsive {
	width: 80%;
	max-width: 570px;
}

/* Carousel */

.carousel-indicators {
	bottom: -10px;
}

