<h1>Products</h1>

<div class="prod_container">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products, cached: true %>
    <% end %>
  </div> <!--end row-->
  <div>
  	<%= link_to 'New Product', new_product_path %>
	</div>
</div>
